body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-size: 20px;
    color: #ffffff;
}
